@model IEnumerable<_TrashCollector_DCC.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<div class="form-group ">
        <input type="submit" value="" class="btn" />
</div>

<style>



    .btn {
        margin-bottom: 25%;
        background-color: #F1F7ED;
        color: #13293D;
    }
    .form-group {
        background-color: #F1F7ED;
        color: #13293D;
    }
</style>

